
<h1>New Item</h1>


<form action="/items" method="post">
  <label>Item Name: </label>
  <input type="text" name="item[name]">
  <label>Item Quantity: </label>
  <input type="text" name="item[quantity]">
  <input type="submit">
</form>